<div class="container p-5">
  <form [formGroup]="newPassForm" (ngSubmit)="setNewPass(newPassForm)">
<div class="my-2">
    <input  type="email"   class="form-control " placeholder="email..." formControlName="email" >
    <div class="alert alert-danger my-2"   *ngIf="  newPassForm.get('resetCode')?.errors &&
    newPassForm.get('resetCode')?.touched">
there is mistake
</div>
</div>
<div class="my-2">
    <input  type="password"  #code class="form-control " placeholder="new password..." formControlName="newPassword" >
    <div class="alert alert-danger my-2"   *ngIf="  newPassForm.get('resetCode')?.errors &&
    newPassForm.get('resetCode')?.touched">
don't valid spaces
</div></div>
  <button class="btn btn-warning text-white mt-3 ms-auto d-block px-5" type="submit" [disabled]="newPassForm.invalid">set new password</button>

  </form>
  </div>

