<footer class="py-5">
<div class="container">
  <div class="row py-3 gap-3">
    <div class="col-md-2">
      <img src="assets/images/logo.png" alt="" class="mb-3">
      <p class="text-black-50 fw-light">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint commodi reiciendis . </p>   </div>
    <div class="col text-center p-0">
      <img src="assets/images/iframe1.png" alt="" class="mb-3 w-100">
      <h6 class="fw-bold ">Circle Of Hands</h6>
      <p class="text-black-50 fw-light">
24 DEC 2014  </p>   </div>
    <div class="col text-center p-0">
      <img src="assets/images/iframe1.png" alt="" class="mb-3 w-100">
      <h6 class="fw-bold ">Circle Of Hands</h6>
      <p class="text-black-50 fw-light">
24 DEC 2014  </p>   </div>
    <div class="col text-center p-0">
      <img src="assets/images/iframe1.png" alt="" class="mb-3 w-100">
      <h6 class="fw-bold ">Circle Of Hands</h6>
      <p class="text-black-50 fw-light">
24 DEC 2014  </p>   </div>
    <div class="col text-center p-0">
      <img src="assets/images/iframe1.png" alt="" class="mb-3 w-100">
      <h6 class="fw-bold ">Circle Of Hands</h6>
      <p class="text-black-50 fw-light">
24 DEC 2014  </p>
 </div>

<div class="col-md-4 map text-center position-relative ">
  <img src="assets/images/map.png" alt="" class="w-100">
  <h5 class="fw-light text-secondary text-center position-absolute start-50 top-50 translate-middle">505 S Atlantic Ave Virginia Beach,VA(Virginia) </h5>
</div>
  </div>
  <hr class="m-0 p-0">
  <hr class="text-white m-0 p-0">
  <div class="row py-5 my-3">
<div class="col-md-2">
<h6 class="fw-bold fs-5">
  SERVICE
</h6>
<ul class="mt-4 text-secondary fw-light">
  <li class="py-2 cursor" >Online Help</li>
  <li class="py-2 cursor">Contact Us </li>
  <li class="py-2 cursor">Order Status</li>
  <li class="py-2 cursor">Change Location</li>
  <li class="py-2 cursor">FAQ's</li>
</ul>
</div>
<div class="col-md-2">
<h6 class="fw-bold fs-5">
  QUOCK SHOP
</h6>
<ul class="mt-4 text-secondary fw-light">
  <li class="py-2 cursor" >T-Shirt</li>
  <li class="py-2 cursor">Mens </li>
  <li class="py-2 cursor">Wemens</li>
  <li class="py-2 cursor">Gift Cards </li>
  <li class="py-2 cursor">Shoes</li>
</ul>
</div>
<div class="col-md-2">
<h6 class="fw-bold fs-5">
  POLICIES
</h6>
<ul class="mt-4 text-secondary fw-light">
  <li class="py-2 cursor" >Terms Of Use</li>
  <li class="py-2 cursor">Privecy </li>
  <li class="py-2 cursor">Refund Policy</li>
  <li class="py-2 cursor">Billing System</li>
  <li class="py-2 cursor">Ticket System</li>
</ul>
</div>
<div class="col-md-2">
<h6 class="fw-bold fs-5">
  ABOUT SHOPPER
</h6>
<ul class="mt-4 text-secondary fw-light">
  <li class="py-2 cursor" >Company Information </li>
  <li class="py-2 cursor">Careers </li>
  <li class="py-2 cursor">Store Location</li>
  <li class="py-2 cursor">Affillate Program</li>
  <li class="py-2 cursor">Copyright</li>
</ul>
</div>
<div class="col-md-4">
<h6 class="fw-bold fs-5">
  ABOUT SHOPPER
</h6>

<div class="input-group">
  <input type="text" class="form-control my-3" aria-label="Dollar amount (with dot and two decimal places)" placeholder="Your email address ">
  <span class="input-group-text my-3 text-white"><i class="fas fa-arrow-alt-circle-right"></i></span>
  <p class="my-4 fw-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dolorem vero quibusdam.</p>
</div>
</div>
  </div>
</div>

</footer>
