<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide
    ><div class="row align-items-center my-5" >
      <div class="col-md-6 ">

        <h1 class=""><span> E</span>-SHOPPER</h1>
        <h2 class="fw-bold">SHOPPING NOW</h2>
        <p class="fw-lighter fs-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id libero quaerat non tempora dolor vero!</p>
        <button class="my-3 btn rounded-0">Shopping now</button>
      </div>
      <div class="col-md-5 offset-md-1">
        <img src="assets\images\girl2.jpg" class="w-100" alt="" />
      </div></div
  ></ng-template>

  <ng-template carouselSlide><div class="row align-items-center my-5">
    <div class="col-md-6 ">

      <h1 class=""><span> E</span>-SHOPPER</h1>
      <h2 class="fw-bold">SHOPPING NOW</h2>
      <p class="fw-lighter fs-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id libero quaerat non tempora dolor vero!</p>
      <button class="my-3 btn rounded-0">Shopping now</button>
    </div>
    <div class="col-md-5 offset-1">
      <img src="assets\images\girl2.jpg" class="w-100" alt="" />
    </div></div
></ng-template>
  <ng-template carouselSlide><div class="row align-items-center my-5">
    <div class="col-md-6 ">

      <h1 class=""><span> E</span>-SHOPPER</h1>
      <h2 class="fw-bold">SHOPPING NOW</h2>
      <p class="fw-lighter fs-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id libero quaerat non tempora dolor vero!</p>
      <button class="my-3 btn rounded-0">Shopping now</button>
    </div>
    <div class="col-md-5 offset-1">
      <img src="assets\images\girl2.jpg" class="w-100" alt="" />
    </div></div
></ng-template>
</owl-carousel-o>
